<div id="header">
    <h1>{{title}}</h1>
</div>

<div id="chapter-1">
    <p>npm install -g @angular/cli</p>
    <p>ng new my-app</p>
</div>

<div id="chapter-2">
    <app-test></app-test>
</div>

<div id="chapter-3">
    <app-user-list #userList></app-user-list>
</div>

<div id="chapter-4">
    <app-add-user-form (userAdded)="userList.addUser($event)"></app-add-user-form>
</div>

<div id="chapter-5">
    <nav>
        <ul>
            <li><a routerLink="/user-list">User List</a></li>
            <li><a routerLink="/add-user">Add User</a></li>
            </ul>
        </nav>
        <router-outlet></router-outlet>
</div>